<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd">
    <!--&lt;!&ndash;配置通知类对象，在切面中引入&ndash;&gt;-->
    <!--<bean id="mybefore" class="com.ning.advice.MyBeforeAdvice"/>-->
    <!--<bean id="myafter" class="com.ning.advice.MyAfterAdvice"/>-->

    <!--&lt;!&ndash;配置切面&ndash;&gt;-->
    <!--<aop:config>-->
        <!--&lt;!&ndash;配置切点&ndash;&gt;-->
        <!--<aop:pointcut id="mypoint" expression="execution(* com.ning.test.Demo.*(..))"/>-->
        <!--<aop:advisor advice-ref="mybefore" pointcut-ref="mypoint"/>-->
        <!--&lt;!&ndash;通知&ndash;&gt;-->
        <!--<aop:advisor advice-ref="myafter" pointcut-ref="mypoint"/>-->
    <!--</aop:config>-->

    <!--&lt;!&ndash;配置Demo类,测试时使用&ndash;&gt;-->
    <!--<bean id="demo" class="com.ning.test.Demo"/>-->
    <!--<bean id="demo1" class="com.ning.test.Demo1"/>-->


    <bean id="mythrow" class="com.ning.advice.MyThrowAdvice"/>
    <!--aspectj方式-->
    <aop:config>
        <aop:aspect ref="mythrow">
            <aop:pointcut id="mypoint" expression="execution(* com.ning.test.Demo.demo1())"/>
            <aop:after-throwing method="myexception" pointcut-ref="mypoint" throwing="e"/>
        </aop:aspect>
    </aop:config>
    <bean id="demo" class="com.ning.test.Demo"/>
</beans>